.heroContainer{
    display:flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
    align-items: center;
    position: relative;
    background-position: center;
    background-size: cover;
    &::after{
        content:'';
        position: absolute;
        width: 100%;
        height:100%;
        background-color: rgba(60, 60, 60, 0.375);
    }
    >div{
        position: relative;
        z-index: 10;
        width: 40%;
        color: #fff;
        > h1{
            font-size: 45px;
        }
        >span{
            font-size: 20px;
        }
    }
    
}